<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginPage</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.js}"></script>
    <link href="../static/css/uicons-solid-straight.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <form class="container-fluid justify-content-end mid">
        <a th:if="${loginStatus==0}" th:href="'/register'"> <button type="button" class="btn btn-secondary btn-sm">Register</button> </a>
        <a th:if="${loginStatus==0}" th:href="'/login'"> <button type="button" class="btn btn-secondary btn-sm">Login</button> </a>
        <a th:if="${loginStatus==1}" th:href="'/logout'"> <button type="button" class="btn btn-secondary btn-sm">Logout</button> </a>
        <a th:if="${loginStatus==1}" th:href="'/create'"><button type="button" class="btn btn-secondary btn-sm">Create Post</button> </a>
        <a th:if="${modStatus==1}" th:href="'/modpanel'"><button type="button" class="btn btn-secondary btn-sm">Moderator Panel</button> </a>
    </form>
</nav>
<div>
</div>
<h1>LOGIN</h1>
<form th:action="@{/loginForm}" method="post" class="logform">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"></label>
        <input type="text" name="login" placeholder="Nickname" class="form-control" id="exampleInputEmail1">
        <div></div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"></label>
        <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
        <div id="emailHelp" class="form-text"></div></div>
    <p class="errorStatus" th:if="${errorStatus==1}" th:text="'User Not Exist!'"></p>
    <p class="errorStatus"  th:if="${errorStatus==2}" th:text="'Invalid Password!'"></p>
    <p class="errorStatus"  th:if="${errorStatus==3}" th:text="'Empty Password!'"></p>
    <p class="errorStatus"  th:if="${errorStatus==4}" th:text="'Empty Login!'"></p>
    <div><button type="submit" class="btn btn-primary">Log</button></div>
</form>
</body>
</html>